# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env
.env
.env.*

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# .NET
backend/**/bin/
backend/**/obj/
backend/.vs/
backend/**/*.user
backend/**/*.suo

# IDE
.vscode/
.idea/
*.vsidx
