.hero{

    position:relative;

    height:92vh;

    min-height:760px;

    background:url("/assets/hero.jpg")
    center center/cover
    no-repeat;

    display:flex;

    align-items:center;

}

.overlay{

    position:absolute;

    inset:0;

    background:

    linear-gradient(
    90deg,
    rgba(34,43,43,.78),
    rgba(34,43,43,.25)
    );

}

.container{

    position:relative;

    z-index:2;

    width:min(92%,1400px);

    margin:auto;

}

.content{

    max-width:760px;

    color:white;

}

.tag{

    display:inline-block;

    padding:12px 22px;

    border-radius:999px;

    background:rgba(255,255,255,.18);

    backdrop-filter:blur(12px);

    margin-bottom:30px;

    font-weight:600;

}

h1{

    font-size:clamp(3.6rem,6vw,6rem);

    line-height:1;

    margin:0;

    font-family:Georgia, serif;

}

p{

    margin-top:30px;

    font-size:1.3rem;

    line-height:1.9;

    max-width:650px;

}

.buttons{

    margin-top:45px;

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}

.primary{

    background:#D79778;

    color:white;

    padding:18px 36px;

    border-radius:999px;

    text-decoration:none;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

}

.primary:hover{

    background:#c68465;

}

.secondary{

    color:white;

    border:2px solid white;

    border-radius:999px;

    padding:18px 36px;

    text-decoration:none;

    cursor:pointer;

}

.secondary:hover{

    background:white;

    color:#435050;

}

.stats{

    margin-top:80px;

    display:flex;

    gap:70px;

    flex-wrap:wrap;

}

.stats h2{

    margin:0;

    font-size:3rem;

}

.stats span{

    opacity:.85;

}

@media(max-width:768px){

.hero{

min-height:auto;

padding:120px 0;

height:auto;

}

h1{

font-size:3rem;

}

.buttons{

flex-direction:column;

}

.primary,
.secondary{

text-align:center;

}

.stats{

gap:35px;

}

}